<main>
<br> 
<br><br><br><br><br><br><br>
<div class='bold-line'></div>
<div class='container'>
  <div class='window'>
    <div class='overlay'></div>
    <div class='content'>
      <br><br>
      <form method="POST" action="/login" autocomplete="off">
      <div class='input-fields'> 
        <h1 class = 'welcome'> EVENTBRITE </h1>
        <br>
        <input type='text' name = 'username' placeholder='username' class='input-line full-width'></input>
        <input type='password' name = 'password' placeholder='Password' class='input-line full-width'></input>

      </div>
      <br>
      <br>
      <div><button class='ghost-round full-width' value="login">Login</button></div>  
      </form>
      <div><button class='ghost-round full-width' ><a href = "/signup" class="login">signup</a></button></div>

    </div>
  </div>
</div>

{{#if error}}
<p> {{ error }}</p>
{{/if}}

</main>